@use '../system/variables.scss' as *;

img {
    height: 60px;
    width: auto;
}


path#curve {
    fill: transparent;
}
  
text {
    font-size: 33.5px;
    font-weight: 600;
    fill: $red;
}

div.mobile {
    position: relative;
    margin-bottom: 129px;
}

.about{
    margin-bottom: 100px;
}

.landing-page-img {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 95px;
    width: 50%;
    height: auto;
}

@media screen and (min-width: 900px) {
    .mobile {
        display: none;
    }
}