@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

main {
    background-color: var(--white);
}

.btn {
    border: 2px solid var(--red);
    background-color: var(--white);
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--red);
    font-size: 16px;
    line-height: 22px;
}

.hidden {
    display: none;
}