:root {
    /* Primary Colors */
    --blue: #384B70;
    --light-blue: #507687;
    --white: #FCFAEE;
    --red: #B8001F;

    /* Secondary Colors */
    --golden-yellow: #F4A442;
    --rustic-brown: #8C6445;
    --dark-olive: #4A5335;

    /* Accent Colors */
    --terracotta: #D35400;
    --creamy-beige: #EAD7A2;
}
